$owl-image-path: '../../../node_modules/owl.carousel/src/img/';
@import '../../../node_modules/owl.carousel/src/scss/owl.carousel';

@import '../../../node_modules/andrewmurphyio/src/scss/common/typography';
@import '../../../node_modules/andrewmurphyio/src/scss/common/variables';
@import '../../../node_modules/andrewmurphyio/src/scss/common/mixins';
@import '../../../node_modules/andrewmurphyio/src/scss/common/global';
@import '../../../node_modules/andrewmurphyio/src/scss/common/form';

@import '../../../node_modules/andrewmurphyio/src/scss/layout/header';
@import '../../../node_modules/andrewmurphyio/src/scss/layout/footer';

@import '../../../node_modules/andrewmurphyio/src/scss/pages/home';
@import '../../../node_modules/andrewmurphyio/src/scss/pages/about';
@import '../../../node_modules/andrewmurphyio/src/scss/pages/speaking';
@import '../../../node_modules/andrewmurphyio/src/scss/pages/personal';
@import '../../../node_modules/andrewmurphyio/src/scss/pages/pages';

.dropdown-menu { border: none; }

.payment_method__label { width: 100%; }

input:not([type='checkbox']):not([type='radio']):not([type='hidden']):not([type='submit']),
textarea {
  border-radius: 0;
}